/node_modules
/dist
/.tmp
/.sass-cache
/bower_components
.DS_Store
.sonar/report-task.txt
.sonar/.sonar_lock
# Provisional - Cuando se cambie de bower a NPM o YARN deberá restablecerce/cambiarse
package-lock.json
evironment.js.local
