<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-12">
          <h3 class="titleNecesidad">
          <span ng-show="d_visualizarNecesidad.v_necesidad.EstadoNecesidadId.Id==8 ||
            d_visualizarNecesidad.v_necesidad.EstadoNecesidadId.Id==2 ||
            d_visualizarNecesidad.v_necesidad.EstadoNecesidadId.Id==7">
              {{'NECESIDAD' | translate}} {{d_visualizarNecesidad.v_necesidad.ConsecutivoNecesidad}}
          </span>
          <span ng-show="d_visualizarNecesidad.v_necesidad.EstadoNecesidadId.Id==1 || d_visualizarNecesidad.v_necesidad.EstadoNecesidadId.Id==3">
            Solicitud {{d_visualizarNecesidad.v_necesidad.ConsecutivoSolicitud}}
          </span>
          <span>{{"DE" | translate}} {{d_visualizarNecesidad.v_necesidad.Vigencia}}</span>
          <span class="titleNecesidad pull-right text-info">Estado: {{d_visualizarNecesidad.v_necesidad.EstadoNecesidadId.Nombre}}</span>
        </h3>
      </div>

      <div class="col-md-7"><span
          ng-show="d_visualizarNecesidad.v_necesidad.EstadoNecesidad.Id==2 || d_visualizarNecesidad.v_necesidad.EstadoNecesidad.Id==7">{{"MODALIDAD_SELECCION" | translate}}:
          {{d_visualizarNecesidad.v_necesidad.ModalidadSeleccion.Nombre}}</span> </div>
    </div>

  </div>
  <div class="panel-body">
    <div class="text-info pull-right text-right">
      <cite class=""> {{vigencia|| '-'}}</cite><br>
      <cite class=""> {{d_visualizarNecesidad.v_necesidad.FechaSolicitud | date:'dd-MMM-yyyy'}}</cite><br>
      <cite
        ng-show="d_visualizarNecesidad.v_necesidad.EstadoNecesidadId.Id==2 || d_visualizarNecesidad.v_necesidad.EstadoNecesidadId.Id==7"
        class=""> {{d_visualizarNecesidad.v_necesidad.ConsecutivoNecesidad}}</cite><br>
      <cite ng-show="d_visualizarNecesidad.v_necesidad.EstadoNecesidadId.Id==7" class="">
        {{d_visualizarNecesidad.v_necesidad.ConsecutivoSolicitud}}</cite> <br>
    </div>

    <div class="text-info pull-right">
      <cite class="">{{"VIGENCIA" | translate}}: </cite><br>
      <cite class="">{{"FECHA_SOLICITUD" | translate}}: </cite><br>
      <cite
        ng-show="d_visualizarNecesidad.v_necesidad.EstadoNecesidadId.Id==2 || d_visualizarNecesidad.v_necesidad.EstadoNecesidadId.Id==7"
        class="">{{"NUMERO_NECESIDAD_COMPACTO" | translate}}:</cite><br>
      <cite ng-show="d_visualizarNecesidad.v_necesidad.EstadoNecesidadId.Id==7"
        class="">{{"NUMERO_SOLICITUD_NECESIDAD" | translate}}:</cite><br>
    </div>

    <h3 class="text-info">{{"RESPONSABLES" | translate}}</h3>
    <p class="text-muted text-justify">
      <table class="table-condensed table table-hover">
        <tr>
          <td><strong>{{"DEPENDENCIA_SOLICITANTE" | translate}}:</strong></td>
          <td> {{d_visualizarNecesidad.dependencia_solicitante.Nombre}}</td>
        </tr>
        <tr>
          <td><strong>{{"JEFE_DEPENDENCIA_SOLICITANTE" | translate}}:</strong></td>
          <td> {{d_visualizarNecesidad.jefe_dependencia_solicitante.PrimerNombre}}
            {{d_visualizarNecesidad.jefe_dependencia_solicitante.SegundoNombre}}
            {{d_visualizarNecesidad.jefe_dependencia_solicitante.PrimerApellido}}
            {{d_visualizarNecesidad.jefe_dependencia_solicitante.SegundoApellido}}</td>
        </tr>
        <tr>
          <td><strong>{{"DEPENDENCIA_DESTINO" | translate}}:</strong></td>
          <td>{{d_visualizarNecesidad.dependencia_destino.Nombre}}</td>
        </tr>
        <tr>
          <td><strong>{{"JEFE_DEPENDENCIA_DESTINO" | translate}}:</strong> </td>
          <td>{{d_visualizarNecesidad.jefe_dependencia_destino.PrimerNombre}}
            {{d_visualizarNecesidad.jefe_dependencia_destino.SegundoNombre}}
            {{d_visualizarNecesidad.jefe_dependencia_destino.PrimerApellido}}
            {{d_visualizarNecesidad.jefe_dependencia_destino.SegundoApellido}}</td>
        </tr>
        <tr>
          <td><strong>{{"ORDENADOR_GASTO" | translate}}:</strong> </td>
          <td>{{d_visualizarNecesidad.ordenador_gasto.PrimerNombre}}
            {{d_visualizarNecesidad.ordenador_gasto.SegundoNombre}}
            {{d_visualizarNecesidad.ordenador_gasto.PrimerApellido}}
            {{d_visualizarNecesidad.ordenador_gasto.SegundoApellido}}</td>
        </tr>
      </table>
    </p>

    <div class="row">
      <div class="col-sm-12">

        <h3 class="text-info">{{"OBJETO_CONTRACTUAL" | translate}}</h3>
        <p class="text-muted text-justify">
          {{d_visualizarNecesidad.v_necesidad.Objeto}}
        </p>
        <h3 class="text-info">{{"FINANCIACION" | translate}}</h3>
        <p class="text-muted text-justify">
          Por {{d_visualizarNecesidad.v_necesidad.TipoFinanciacionNecesidadId.Nombre}} de <strong>{{d_visualizarNecesidad.v_necesidad.Valor
            | currency}}</strong>
        </p>
        <ul ng-repeat="inv in rubros.ff_necesidad track by $index">
          <strong>{{inv.Apropiacion.Rubro.Codigo}}</strong> {{inv.Apropiacion.Rubro.Nombre}}
          <li ng-repeat='f in inv.Fuentes'>
            {{f.InfoFuente[0].Nombre}}: {{f.MontoParcial | currency}}
          </li>

          <br><strong ng-if="inv.Productos.length">{{"PRODUCTOS" | translate}}</strong>
          <li ng-repeat='p in inv.Productos'>
            <strong>{{p.ProductoRubroInfo[0].Producto.Nombre}}:</strong>
            {{p.ProductoRubroInfo[0].Producto.Descripcion}}
          </li>
        </ul>

        <!-- Inversion -->
        <div ng-if="!d_visualizarNecesidad.funcionamiento">
          <p><strong> Rubro / Proyecto </strong></p><br>
          <div ng-repeat="rubro in d_visualizarNecesidad.rubros">
            <ul>
              <li>{{ rubro.InfoRubro.Codigo }} : {{ rubro.InfoRubro.Nombre }}</li>
              <!-- Metas -->
              <br>
              <p><strong>Metas</strong></p>
              <ul ng-repeat="meta in rubro.Metas">
                <li><strong>Código:</strong> {{ meta.InfoMeta.meta_id }}<p>{{ meta.InfoMeta.meta }}</p>
                  <hr>
                </li>
                <!-- Actividades -->
                <br>
                <p><strong>Actividades</strong></p>
                <ul ng-repeat="act in meta.Actividades">
                  <li><strong>Código:</strong> {{ act.InfoActividad.actividad_id }} <p>
                      {{ act.InfoActividad.actividad }}</p>
                  </li>
                  <!-- FuentesActividad -->
                  <br>
                  <p><strong>Fuentes de Financiamiento</strong></p>
                  <ul ng-repeat="f in act.FuentesActividad" style="list-style: none;">
                    <li>
                      <p><strong>Código:</strong> {{f.InfoFuente.Codigo}}<br>
                      {{ f.InfoFuente.Nombre }}<br>
                      <strong>Valor:</strong> {{ f.MontoParcial | currency }}</p>
                    </li>
                  </ul>
                  <br>
                  <hr>
                </ul>
                <br>
              </ul>
              <!-- Productos -->
              <h3 class="text-info">{{"PRODUCTOS" | translate}}</h3>
              <ul>
                <li ng-repeat='producto in rubro.Productos'>
                  {{producto.InfoProducto.Nombre}} <p><strong>
                </li>
              </ul>
              <br>
            </ul>
          </div>
        </div>
        <!-- Inversion -->

        <!-- Funcionamiento -->
        <div ng-if="d_visualizarNecesidad.funcionamiento">
          <p><strong>Rubros / Proyecto</strong> <br>
            <div ng-repeat="rubro in d_visualizarNecesidad.rubros">
              <ul>
                <li>{{ rubro.InfoRubro.Codigo }} : {{ rubro.InfoRubro.Nombre }}</li>
                <br>
                <p><strong>Fuentes de Financiamiento</strong></p>
                <ul ng-repeat="fuente in rubro.Fuentes">
                  <li>
                    <strong>Código:</strong>{{fuente.InfoFuente.Codigo}}<br>
                    <strong>Nombre: </strong>{{ fuente.InfoFuente.Nombre}}<br>
                    <p><strong>Valor:</strong> {{ fuente.MontoParcial | currency }}</p>
                  </li>
                </ul>
              </ul>
            </div>
        </div>
        <!-- Funcionamiento -->

        <!-- Inversion -->
        <div ng-if="!d_visualizarNecesidad.funcionamiento">
          
        </div>
        <!-- Inversion -->

        <h3 class="text-info">{{"JUSTIFICACION_CONTRATO" | translate}}</h3>
        <p class="text-muted text-justify">
          {{d_visualizarNecesidad.v_necesidad.Justificacion}}
        </p>
        <h3 class="text-info">{{"ANALISIS_RIESGOS" | translate}}</h3>
        <p class="text-muted text-justify">
          {{d_visualizarNecesidad.v_necesidad.AnalisisRiesgo}}
        </p>
        <h3 class="text-info">{{"ESTUDIO_MERCADO" | translate}}</h3>
        <p class="text-muted text-justify">
          {{d_visualizarNecesidad.v_necesidad.EstudioMercado}}
        </p>

        <h3 class="text-info">{{"MARCO_LEGAL" | translate}}</h3>
        <p class="text-muted text-justify">
          <li ng-repeat="doc in d_visualizarNecesidad.marco_legal track by $index">
            {{doc.MarcoLegalId.NombreDocumento}}
          </li>
        </p>

        <div ng-show="d_visualizarNecesidad.v_necesidad.EstadoNecesidadId.Id===2 ||  d_visualizarNecesidad.v_necesidad.EstadoNecesidadId.Id===6 || d_visualizarNecesidad.v_necesidad.EstadoNecesidadId.Id===7">
          <h3 class="text-info">{{"MODALIDAD_SELECCION" | translate}}</h3>
          <div class="col-md-12">
            <p class="text-muted text-justify">  
              {{ d_visualizarNecesidad.v_necesidad.ModalidadSeleccionId.Id }} -
              {{ d_visualizarNecesidad.v_necesidad.ModalidadSeleccionId.Nombre }}
            </p>
          </div>

          <h3 class="text-info">{{"CLASE_CONTRATACION" | translate}}</h3>
          <div class="col-md-12">
            <p class="text-muted text-justify">
              {{ d_visualizarNecesidad.v_necesidad.TipoContratoId.Id}} -
              {{ d_visualizarNecesidad.v_necesidad.TipoContratoId.TipoContrato}}
            </p>
          </div>
        </div>

      </div>

      <div class="col-sm-6" ng-show="d_visualizarNecesidad.verJustificacion">
        <h3 class="text-info">{{"NECESIDAD_JUSTIFICACION_RECHAZO" | translate}}</h3>

        <p class="text-justify" ng-repeat="justificacion_rechazo in d_visualizarNecesidad.verJustificacion">
          <strong>{{"NECESIDAD_FECHA_RECHAZO" | translate}}:</strong>
          {{justificacion_rechazo.FechaCreacion | date:'dd/MM/yyyy':'UTC' }} <br>
          <strong>{{"NECESIDAD_JUSTIFICACION_DESCRIPCION_RECHAZO" | translate}}:</strong><br>
          {{justificacion_rechazo.Justificacion}}
        </p>
      </div>

    </div>
  </div>
</div>