<div class="panel panel-default">
  <!-- Titulo de modal necesidad -->
  <div class="panel-heading">
    <div class="row">
      <div>
        <h3 class="titleNecesidad">
          <span ng-if="[2,7,5,9,10].includes(d_visualizarNecesidad.v_necesidad.EstadoNecesidadId.Id)">
              {{'NECESIDAD' | translate}} {{d_visualizarNecesidad.v_necesidad.Consecutivo}}
          </span>
          <span ng-show="d_visualizarNecesidad.v_necesidad.EstadoNecesidadId.Id === 1 || d_visualizarNecesidad.v_necesidad.EstadoNecesidadId.Id === 3 || d_visualizarNecesidad.v_necesidad.EstadoNecesidadId.Id === 8">
            Solicitud {{d_visualizarNecesidad.v_necesidad.Id}}
          </span>
          <span>{{"DE" | translate}} {{d_visualizarNecesidad.v_necesidad.Vigencia}}</span>
          <span class="titleNecesidad pull-right ">Estado: {{d_visualizarNecesidad.v_necesidad.EstadoNecesidadId.Nombre}}</span>
        </h3>
      </div>
      <div class="col-md-7">
        <span class="titleNecesidad" ng-show="d_visualizarNecesidad.v_necesidad.EstadoNecesidad.Id==2 || d_visualizarNecesidad.v_necesidad.EstadoNecesidad.Id==7">
          {{"MODALIDAD_SELECCION" | translate}}:{{d_visualizarNecesidad.v_necesidad.ModalidadSeleccion.Nombre}}
        </span>
      </div>
    </div>
  </div>
  <!-- Fin titulo de modal necesidad -->
  <!-- Etiquetas info -->
  <div class="panel-body">
    <div class="text-info pull-right text-right">
      <cite class=" "> {{vigencia|| d_visualizarNecesidad.v_necesidad.Vigencia}}</cite><br>
      <cite class=""> {{d_visualizarNecesidad.v_necesidad.FechaSolicitud | date:'dd-MMM-yyyy'}}</cite><br>
      <cite
        ng-show="d_visualizarNecesidad.v_necesidad.EstadoNecesidadId.Id==2 || d_visualizarNecesidad.v_necesidad.EstadoNecesidadId.Id==7"
        class=""> {{d_visualizarNecesidad.v_necesidad.Consecutivo}}</cite><br>
      <cite ng-show="d_visualizarNecesidad.v_necesidad.EstadoNecesidadId.Id==7" class="">
        {{d_visualizarNecesidad.v_necesidad.Consecutivo}}</cite> <br>
    </div>
    <div class="text-info pull-right">
      <cite class="">{{"VIGENCIA" | translate}}: </cite><br>
      <cite class="">{{"FECHA_SOLICITUD" | translate}}: </cite><br>
      <cite
        ng-show="d_visualizarNecesidad.v_necesidad.EstadoNecesidadId.Id==2 || d_visualizarNecesidad.v_necesidad.EstadoNecesidadId.Id==7"
        class="">{{"NUMERO_NECESIDAD_COMPACTO" | translate}}:</cite><br>
      <cite ng-show="d_visualizarNecesidad.v_necesidad.EstadoNecesidadId.Id==7"
        class="">{{"NUMERO_SOLICITUD_NECESIDAD" | translate}}:</cite><br>
    </div>
    <!-- Fin etiquetas info -->
    <!-- Responsables -->
    <h3 class="text-info">{{"RESPONSABLES" | translate}}</h3>
    <p class="text-muted text-justify">
      <table class="table-condensed table table-hover">
        <tr>
          <td><strong>{{"DEPENDENCIA_SOLICITANTE" | translate}}:</strong></td>
          <td> {{d_visualizarNecesidad.dependencia_solicitante.Nombre}}</td>
        </tr>
        <tr>
          <td><strong>{{"JEFE_DEPENDENCIA_SOLICITANTE" | translate}}:</strong></td>
          <td> {{d_visualizarNecesidad.jefe_dependencia_solicitante.PrimerNombre}}
            {{d_visualizarNecesidad.jefe_dependencia_solicitante.SegundoNombre}}
            {{d_visualizarNecesidad.jefe_dependencia_solicitante.PrimerApellido}}
            {{d_visualizarNecesidad.jefe_dependencia_solicitante.SegundoApellido}}</td>
        </tr>
        <tr>
          <td><strong>{{"DEPENDENCIA_DESTINO" | translate}}:</strong></td>
          <td>{{d_visualizarNecesidad.dependencia_destino.Nombre}}</td>
        </tr>
        <tr>
          <td><strong>{{"JEFE_DEPENDENCIA_DESTINO" | translate}}:</strong> </td>
          <td>{{d_visualizarNecesidad.jefe_dependencia_destino.PrimerNombre}}
            {{d_visualizarNecesidad.jefe_dependencia_destino.SegundoNombre}}
            {{d_visualizarNecesidad.jefe_dependencia_destino.PrimerApellido}}
            {{d_visualizarNecesidad.jefe_dependencia_destino.SegundoApellido}}</td>
        </tr>
        <tr>
          <td><strong>{{"ORDENADOR_GASTO" | translate}}:</strong> </td>
          <td>{{d_visualizarNecesidad.ordenador_gasto.PrimerNombre}}
            {{d_visualizarNecesidad.ordenador_gasto.SegundoNombre}}
            {{d_visualizarNecesidad.ordenador_gasto.PrimerApellido}}
            {{d_visualizarNecesidad.ordenador_gasto.SegundoApellido}}</td>
        </tr>
      </table>
    </p>
    <hr>
    <!-- Fin responsables -->
    <!-- Inicio informacion de necesidad -->
    <div class="row">
      <div class="col-sm-12">
        <!-- Objeto contractual -->
        <h3 class="text-info">{{"INFORMACION" | translate}}</h3>
        <h5 class="text-info">{{"OBJETO_CONTRACTUAL" | translate}}</h5>
        <p class="text-muted text-justify">
          {{d_visualizarNecesidad.v_necesidad.Objeto}}
        </p>
        <!-- Duracion -->
        <h5 class="text-info">{{"DURACION" | translate}}</h5>
        <p class="text-muted text-justify" ng-if="necesidad.Necesidad.TipoDuracionNecesidadId.CodigoAbreviacion==='D'">
          Años: {{d_visualizarNecesidad.dataDias.anos}} Meses: {{d_visualizarNecesidad.dataDias.meses}} Dias: {{d_visualizarNecesidad.dataDias.dias}}
        </p>
        <p class="text-muted text-justify" ng-if="necesidad.Necesidad.TipoDuracionNecesidadId.CodigoAbreviacion!=='D'">
          Tipo: {{necesidad.Necesidad.TipoDuracionNecesidadId.Descripcion}}
        </p>
        <!-- Financiacion -->
        <h5 class="text-info">{{"FINANCIACION" | translate}}</h5>
        <p class="text-muted text-justify">
          Por {{d_visualizarNecesidad.v_necesidad.TipoFinanciacionNecesidadId.Nombre}} de
          <strong>{{d_visualizarNecesidad.v_necesidad.Valor | currency}}</strong>
        </p>
        <!-- Inversion -->
        <div ng-if="!d_visualizarNecesidad.funcionamiento">
          <h4 class="text-info">{{"CODIGO_RUBRO" | translate}} / {{"NOMBRE_RUBRO" | translate}}</h4>
          <div ng-repeat="rubro in d_visualizarNecesidad.rubros">
            <ul>
              <li>
                <strong>Codigo:</strong> {{ rubro.RubroId }}
                <br>
                <strong>Nombre:</strong> {{ rubro.InfoRubro.Nombre }}
                <br>
              </li>
              <!-- Productos -->
              <h5 class="text-info">{{"PRODUCTOS" | translate}}</h5>
              <ul>
                <li ng-repeat="producto in rubro.Productos">
                  <strong>Nombre:</strong> {{producto.InfoProducto.Nombre}}
                </li>
              </ul>
              <br>
              <!-- Metas -->
              <h5 class="text-info">{{"METAS" | translate}}</h5>
              <ul ng-repeat="meta in rubro.Metas">
                <li>
                  <strong>Código:</strong> {{ meta.MetaId }}
                  <br>
                  <strong>Nombre:</strong> {{meta.Nombre}}
                  <br>
                  <p>{{ meta.InfoMeta.meta }}</p>
                  <hr>
                </li>
                <!-- Actividades -->
                <h5 class="text-info">{{"ACTIVIDADES_META" | translate}}</h5>
                <ul ng-repeat="act in meta.Actividades">
                  <li>
                    <strong>Código:</strong> {{ act.ActividadId }}
                    <br>
                    <strong>Nombre:</strong> {{act.Nombre}}
                    <br>
                    <p>{{ act.InfoActividad.actividad }}</p>
                    <hr>
                  </li>
                  <!-- FuentesActividad -->
                  <h5 class="text-info">{{"FUENTES" | translate}}</h5>
                  <ul ng-repeat="f in act.FuentesActividad" style="list-style: none;">
                    <li ng-if="f.MontoParcial > 0">
                      <p><strong>Código:</strong>
                        {{f.FuenteId}}<br>
                        {{ f.InfoFuente.Nombre }}<br>
                        <strong>Valor:</strong>
                        {{ f.MontoParcial | currency }}
                      </p>
                    </li>
                  </ul>
                  <hr>
                </ul>
                <br>
              </ul>
            </ul>
          </div>
        </div>
        <!-- Fin Inversion -->

        <!-- Funcionamiento -->
        <div ng-if="d_visualizarNecesidad.funcionamiento">
          <h4 class="text-info">{{"CODIGO_RUBRO" | translate}} / {{"NOMBRE_RUBRO" | translate}}</h4>
            <div ng-repeat="rubro in d_visualizarNecesidad.rubros">
              <ul>
                <li>{{ rubro.InfoRubro.Codigo }} : {{ rubro.InfoRubro.Nombre }}</li>
                <br>
                <h5 class="text-info">{{"FUENTES" | translate}}</h5>
                <ul ng-repeat="fuente in rubro.Fuentes">
                  <li>
                    <strong>Código:</strong>{{fuente.InfoFuente.Codigo}}<br>
                    <strong>Nombre: </strong>{{ fuente.InfoFuente.Nombre}}<br>
                    <p><strong>Valor:</strong> {{ fuente.MontoParcial | currency }}</p>
                  </li>
                </ul>
              </ul>
            </div>
        </div>
        <!-- Fin Funcionamiento -->

        <h3 class="text-info">{{"JUSTIFICACION_CONTRATO" | translate}}</h3>
        <p class="text-muted text-justify">
          {{d_visualizarNecesidad.v_necesidad.Justificacion}}
        </p>
        <h3 class="text-info" ng-if="d_visualizarNecesidad.v_necesidad.AnalisisRiesgo!==''">{{"ANALISIS_RIESGOS" | translate}}</h3>
        <p class="text-muted text-justify">
          {{d_visualizarNecesidad.v_necesidad.AnalisisRiesgo}}
        </p>
        <h3 class="text-info" ng-if="d_visualizarNecesidad.v_necesidad.EstudioMercado!==''">{{"ESTUDIO_MERCADO" | translate}}</h3>
        <p class="text-muted text-justify">
          {{d_visualizarNecesidad.v_necesidad.EstudioMercado}}
        </p>

        <h3 class="text-info" ng-show="d_visualizarNecesidad.v_necesidad.TipoNecesidadId.Id!==2&&d_visualizarNecesidad.marco_legal.length>0">{{"MARCO_LEGAL" | translate}}</h3>
        <p class="text-muted text-justify">
          <li ng-repeat="doc in d_visualizarNecesidad.marco_legal track by $index">
            {{doc.MarcoLegalId.NombreDocumento}}
          </li>
        </p>

        <!-- clase de contratacion necesidad resumen -->

        <h3 class="text-info" ng-if="d_visualizarNecesidad.v_necesidad.TipoNecesidadId.Id!==2">{{"CLASE_CONTRATACION" | translate}}: {{d_visualizarNecesidad.v_necesidad.TipoContratoNecesidadId.Nombre}}</h3>
        <!-- info cps  -->
        <div ng-if="d_visualizarNecesidad.v_necesidad.TipoContratoNecesidadId.CodigoAbreviacion==='CPS'">
          <table class="table table-bordered tablaDetalle">
            <tr class="bg-primary">
              <th>{{"PERFIL" | translate}}</th>
              <th>{{"NUCLEO_CONOCIMIENTO_AREA" | translate}}</th>
              <th>{{"NUCLEO_CONOCIMIENTO" | translate}}</th>
            </tr>
            <tr>
              <td>{{necesidad.DetallePrestacionServicioNecesidad.PerfilNombre }}</td>
              <td>{{necesidad.DetallePrestacionServicioNecesidad.NucleoConocimientoArea }}</td>
              <td>{{necesidad.DetallePrestacionServicioNecesidad.NucleoConocimientoNombre }}</td>
            </tr>
          </table>
        </div>
        <!-- info compra -->
        <div ng-if="d_visualizarNecesidad.v_necesidad.TipoContratoNecesidadId.CodigoAbreviacion==='CS'||d_visualizarNecesidad.v_necesidad.TipoContratoNecesidadId.CodigoAbreviacion==='C'">
          <p><strong>Detalle compra</strong></p>
          <table class="table table-bordered tablaDetalle">
            <tr class="bg-primary">
              <th>Elemento</th>
              <th>Cantidad</th>
              <th>Subtotal</th>
              <th>Valor IVA</th>
              <th>Valor total</th>
            </tr>
            <tr ng-repeat="prod in necesidad.ProductosCatalogoNecesidad" >
              <td>{{prod.ElementoNombre}}</td>
              <td>{{prod.Cantidad}}</td>
              <td class="money">{{prod.Valor*prod.Cantidad | currency}}</td>
              <td class="money">{{prod.valorIvaUnd*prod.Cantidad | currency}}</td>
              <td class="money">{{prod.ValorTotal | currency}}</td>
            </tr>
          </table>
        </div>
        <!-- info servicio  -->
        <div ng-if="d_visualizarNecesidad.v_necesidad.TipoContratoNecesidadId.CodigoAbreviacion==='S'||d_visualizarNecesidad.v_necesidad.TipoContratoNecesidadId.CodigoAbreviacion==='CS'">
            <p><strong>Detalle servicio</strong></p>
            <table class="table table-bordered tablaDetalle">
              <tr class="bg-primary">
                <th>Tipo servicio</th>
                <th>Valor Unitario</th>
                <th>Valor IVA</th>
                <th>Valor total servicio</th>
              </tr>
              <tr>
                <td>{{necesidad.DetalleServicioNecesidad.TipoServicioNombre}}</td>
                <td class="money">{{necesidad.DetalleServicioNecesidad.Valor | currency}}</td>
                <td class="money">{{necesidad.DetalleServicioNecesidad.valorIvaUnd | currency}}</td>
                <td class="money">{{necesidad.DetalleServicioNecesidad.ValorTotal | currency}}</td>
              </tr>
            </table>
        </div>
        <!-- actividades especificas, requisitos minimos -->
        <div ng-if="['S','CS','CPS'].indexOf(d_visualizarNecesidad.v_necesidad.TipoContratoNecesidadId.CodigoAbreviacion)>-1">
          <p><strong>{{"ACTIVIDADES_ESPECIFICAS" | translate}}</strong></p>
          <ul>
            <li ng-repeat="ae in necesidad.ActividadEspecificaNecesidad">
                {{$index+1}}. {{ae.Descripcion}}
            </li>
          </ul>
          <p><strong>{{"REQUISITOS_MINIMOS" | translate}}</strong></p>
          <ul>
            <li ng-repeat="rm in necesidad.RequisitoMinimoNecesidad">
                {{$index+1}}. {{rm.Descripcion}}
            </li>
          </ul>
        </div>


        <!-- fin clase de contratacion necesidad resumen -->

        <div ng-if="[2,6,7,9,10].includes(d_visualizarNecesidad.v_necesidad.EstadoNecesidadId.Id)">
          <h3 class="text-info">{{"MODALIDAD_SELECCION" | translate}}</h3>
          <div class="row">
            <p class="text-muted text-justify">
              {{ d_visualizarNecesidad.v_necesidad.ModalidadSeleccionId.Id }} -
              {{ d_visualizarNecesidad.v_necesidad.ModalidadSeleccionId.Nombre }}
            </p>
          </div>

          <h3 class="text-info">{{"CLASE_CONTRATACION" | translate}}</h3>
          <div class="row">
            <p class="text-muted text-justify">
              {{ d_visualizarNecesidad.v_necesidad.TipoContratoId.Id}} -
              {{ d_visualizarNecesidad.v_necesidad.TipoContratoId.TipoContrato}}
            </p>
          </div>
        </div>
        <!-- si esta expedido el CDP  -->
        <div ng-if="[9,10].includes(d_visualizarNecesidad.v_necesidad.EstadoNecesidadId.Id)">
          <h3 class="text-info">{{"INFO_CDP" | translate}}</h3>
          <table class="table table-bordered tablaDetalle">
            <tr class="bg-primary">
              <th>{{"NUMERO_CDP" | translate}}</th><th>{{"INICIAL_CDP" | translate}}</th><th>{{"SALDO_CDP" | translate}}</th>
            </tr>
            <tr>
              <td>{{necesidad.documento_cdp.Consecutivo}}</td>
              <td class="money">{{necesidad.documento_cdp.ValorInicial | currency}}</td>
              <td class="money">{{necesidad.documento_cdp.ValorActual | currency}}</td>
            </tr>
          </table>

        </div>

      </div>

      <div class="col-sm-6" ng-if="d_visualizarNecesidad.verJustificacion">
        <h3 class="text-info">{{"NECESIDAD_JUSTIFICACION_RECHAZO" | translate}}</h3>

        <p class="text-justify" ng-repeat="justificacion_rechazo in d_visualizarNecesidad.verJustificacion">
          <strong>{{"NECESIDAD_FECHA_RECHAZO" | translate}}:</strong>
          {{justificacion_rechazo.FechaCreacion | date:'dd/MM/yyyy':'UTC' }} <br>
          <strong>{{"NECESIDAD_JUSTIFICACION_DESCRIPCION_RECHAZO" | translate}}:</strong><br>
          {{justificacion_rechazo.Justificacion}}
        </p>
      </div>

    </div>
  </div>
</div>
