<div class="panel panel-default col-md-6">
    <div class="panel-heading">
        {{"METAS" | translate}} {{"Y" | translate}} {{"ACTIVIDADES_META" | translate}}
    </div>
    <div class="panel-body">
        <p>
            Seleccione la meta y actividades pertinentes:
        </p>

        <div>
            <ul>
                <li style="list-style-type:none" ng-repeat="meta in d_metasActividades.metas">
                    <input type="radio" name="name" value="{{meta.Id}}" ng-model="d_metasActividades.meta"
                        required />{{ meta.Id }}, {{ meta.Nombre }}
                </li>
            </ul>

            <div class="container-fluid">
                <table>
                    <th class="text-info col-md-4">{{"VALOR_SOLICITADO" | translate}}</th>
                    <th class="col-md-8">
                        <div class="money">{{solicitudNecesidad.f_valor | currency}}</div>
                    </th>
                </table>
            </div>

        </div>
        <div style="height: 250px" ui-grid="d_metasActividades.gridOptions" ui-grid-selection ui-grid-auto-resize
            ui-grid-pagination></div>


    </div>

</div>

<div class="panel panel-default col-md-6">
    <div class="panel-heading container-fluid">
        <div class="col-sm-4">{{"VALOR_SOLICITADO" | translate}} {{"META" | translate}}:</div>
        <div class="col-sm-8 money">
            {{d_metasActividades.MontoPorMeta | currency}}
        </div>
    </div>
    <div class="panel-body container-fluid">
        <div class="list-group-item" ng-repeat="actividad in d_metasActividades.actividades">
            <div class="col-md-8"><text>{{ actividad.actividad}}</text></div>
            <input class="money" type="text"
                ng-init="actividad.MontoParcial = actividad.MontoParcial ? actividad.MontoParcial : 0"
                ng-model="actividad.MontoParcial" ui-money-mask="2">
            <br>
        </div>
    </div>
    <button type="button" class="btn btn-success" ng-click="">Agregar Fuente de financiamiento</button>
    <div class="panel-body container-fluid">
        <div class="list-group-item" ng-repeat="fuenteF in d_metasActividades.fuentes">
                <select></select>
                <input class="money" ui-money-mask="2" type="text">
                <button type="button" class="btn btn-primary"  ng-click="">Confirmar</button>
        </div>
       
    </div>




</div>